.navbar {
  background-image: url("../imagenes/index.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 6px rgb(252, 239, 239);
  font-family: "Cinzel", serif;
}
.navbar .navbar-toggler-icon {
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
}
.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFD700;
  text-shadow: 0 0 8px #72c7f1, 0 0 15px #72c7f1;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-brand:hover {
  color: #ffe766;
  text-shadow: 0 0 15px #72c7f1, 0 0 25px #72c7f1;
}
.navbar .nav-link {
  color: #FFD700;
  margin-right: 1.5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #FFD700;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover {
  outline: none;
  box-shadow: none;
}
.navbar .offcanvas {
  background: rgba(0, 5, 10, 0.9);
  color: #FFD700;
}
.navbar .offcanvas .offcanvas-title {
  font-size: 1.5rem;
  color: #FFD700;
  text-shadow: 0 0 10px #72c7f1, 0 0 20px #72c7f1;
}
.navbar .offcanvas .nav-link {
  color: #FFD700;
  margin-bottom: 0.5rem;
}
.navbar .offcanvas .nav-link:hover {
  color: #ffe766;
}

.nav-link.active {
  color: #FFD700 !important;
  text-shadow: 0 0 8px #72c7f1, 0 0 15px #72c7f1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #00050a;
}

.image-container {
  position: relative;
  width: auto;
  max-width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(114, 199, 241, 0.9);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6), 0 0 40px rgba(114, 199, 241, 0.9);
}

.image-container img {
  width: 1100px;
  height: 500px;
  display: block;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 3;
    transform: translateY(0);
  }
}
.welcome-container {
  padding: 70px;
  margin: auto;
  max-width: auto;
  background-color: #00050a;
}
.welcome-container h1 {
  text-align: center;
  color: #FFD700;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 20px;
  text-shadow: 0 0 8px #72c7f1, 0 0 15px #72c7f1;
}
.welcome-container p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  color: rgb(255, 254, 254);
  text-align: center;
  margin-bottom: 15px;
}
.welcome-container em {
  color: #FFD700;
  font-style: italic;
}
.welcome-container strong {
  color: #FFD700;
  font-weight: bold;
}

.imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px;
}

.imagenes img {
  max-width: 100%;
  height: 600px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
  filter: brightness(0.8) saturate(1.2);
}

.imagenes img:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px #d4af37, 0 0 20px #d4af37;
  filter: brightness(1) saturate(1.5);
}

@media (max-width: 768px) {
  .imagenes img {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .imagenes {
    gap: 10px;
    padding: 10px;
  }
}
.imagen-grupal img {
  box-shadow: 0 0 15px #72c7f1;
  border-radius: 8px;
  width: 1100px;
  height: 600px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .imagen-grupal img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .imagen-grupal img {
    width: 100%;
    height: auto;
  }
}
.personaje-container {
  text-align: center;
  color: #FFD700;
  font-family: "Cormorant Garamond", serif;
  text-shadow: 0 0 8px #72c7f1, 0 0 15px #72c7f1;
  margin-top: 70px;
  background-color: #1a1a1a;
}

.heroes-container {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.heroes-container img {
  width: auto;
  height: 300px;
  transition: transform 0.3s;
}

.heroes-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .heroes-container img {
    max-width: 100%;
    height: auto;
  }
  .heroes-container {
    max-width: 100%;
    gap: 10px;
    padding: 10px;
  }
}
.heroes-texto p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  color: rgb(255, 254, 254);
  text-align: center;
  text-shadow: none;
}

.heroes-texto .imagenes img {
  width: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 10px 15px #72c7f1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h3 {
  color: #FFD700;
}

.armas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.arma-container {
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px #72c7f1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arma-container img {
  width: 500px;
  height: auto;
  display: block;
  border-radius: 15px;
}

.arma-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.footer-image {
  max-width: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 136, 255, 0.8));
  transition: transform 0.3s ease, filter 0.3s ease;
  animation: color-shift 5s infinite;
}

@keyframes color-shift {
  0% {
    filter: drop-shadow(0 0 10px rgb(255, 254, 254));
  }
  33% {
    filter: drop-shadow(0 0 10px #72c7f1);
  }
  66% {
    filter: drop-shadow(0 0 10px #00050a);
  }
  100% {
    filter: drop-shadow(0 0 10px rgb(255, 254, 254));
  }
}
.footer-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  color: #FFD700;
}

/*# sourceMappingURL=estilo.css.map */
